

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.bg-primary {background: #cb2026 !important;}

.btn {border: 1px solid white; color: #ffffff;}

.btn-outline-primary {
   color: #fffffff;
   border-color: #ffffff;
}

.btn-outline-primary:hover, .btn:hover {
   color: #cb2026;
   background: #ffffff;
   border: 1px solid white;
}

img.d-block.mx-auto.rounded-circle.img-fluid {
   width: 30%;
}