

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul {list-style: none;margin:0;padding: 0;}
.jumbotron {background: url(../img/bg.jpg) no-repeat 0 -160px;}
.jumbotron h1 {font-family: "Helvetica Neue", Helvetica, Arial;font-size: 2em;}
